*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(1, 1, 1, 0.5);
}
.App{
  margin-top: 5%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-width: 100vh;
  text-align: center;
  flex-direction: column;
}

.contact {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3rem;
  margin: 0.5rem 0;
}
